.jumbotron {
    background-color: lightskyblue;
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Glory', sans-serif;
    background-color: #f7f4d7;
}

#current-student-section {
    margin-top: 15px;
}

#current-student-text {
    margin-bottom: 0;
}

